@import "../../../styles/main";
 :host(mg-resources) {

  .content{
    margin-top: 64px;
  }

  h3{
    margin: 0 50px 20px 20px;
    padding-top: 22px;
    font-weight: 400;
  }

  .resources-card{
    margin: 0 50px 20px 20px;
    padding: 0;
    width: 80%;
  }

  mat-list-item{
    color: #1a2326;
    border: 1px solid transparent;
    margin: 0;
    text-decoration: none;
    transition: all .3s;

    &:hover{
      text-decoration: none;
      border-color: #2b85e7;
      border-radius: 4px;
      box-shadow: 0 8px 8px rgba(1,67,163,.24), 0 0 8px rgba(1,67,163,.12), 0 6px 18px rgba(43,133,231,.12);
      transform: translateY(-2px);
    }
  }
 }
