<div class="content">
    <mg-page-header [title]="'EXPLORE MAGIC ANGULAR RESOURCES'"></mg-page-header>
    <h3>Development</h3>
    <mat-card class="resources-card">
      <mat-toolbar>IDEs</mat-toolbar>
      <mat-list>
        <mat-list-item>
          <b>IntelliJ IDEA</b>
          Capable and Ergonomic Java * IDE
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <b>Visual Studio Code</b>
            VS Code is a Free, Lightweight Tool for Editing and Debugging Web Apps.
        </mat-list-item>

      </mat-list>
    </mat-card>
    <h3>Education</h3>
    <mat-card class="resources-card">
      <mat-toolbar>Workshops & Onsite Training</mat-toolbar>
      <mat-list>
        <mat-list-item>
            <b>ng-course (Israel)</b>
            4 day in-depth Angular training in Israel
        </mat-list-item>
      </mat-list>
    </mat-card>
</div>
