@import "../../../../../styles/main";

:host(mg-search){
    input {
      color: $darkgray;
      border: none;
      border-radius: 100px;
      background-color: $offwhite;
      padding: 5px 16px;
      margin-left: 8px;
      width: 180px;
      max-width: 240px;
      height: 50%;
      -webkit-appearance: none;

      &:focus {
        outline: none;
      }

      @include bp(big) {
        transition: width 0.4s ease-in-out;

        &:focus {
          width: 50%;
        }
      }
      @media (max-width: 480px) {
        width: 150px;
      }

    }
}

