@import "../../../../../styles/main";

$space: 8px;

:host(mg-app-header) {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .app-header {
    height: 100%;

    .logo{
      width: 170px;
    }

    .menu-icon{
      position: absolute;
      transform: translateY(12px);
    }

    .logo-nav-wrapper{
      align-items: center;
      display: flex;
    }

    .main-nav{
      text-align: center;
      height: 64px;

      a.mat-tab-link{
        height: 64px;
        font-size: 16px;
        font-weight: 400;
        width: auto;
        min-width: auto;

        &:focus {
          background-color: transparent;
        }

        &.mat-tab-label-active{
          opacity: 1;
        }
      }
    }

    .search-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      min-width: 150px;
      height: 100%;
    }
  }
}
