<div class="app-header" fxLayout="column" fxLayoutAlign="space-between none">
  <mat-toolbar class="content-wrapp-align-center" color="primary">
    <mat-toolbar-row>
        <button class="menu-icon" mat-button title="Side Nav" (click)="toggleSideMenu()" [@menuButton]="this.sideNavControl.dataDrawer ? true : false">
            <mat-icon>menu</mat-icon>
        </button>
      <div class="logo-nav-wrapper" fxLayout="row" fxLayoutAlign="space-around center" [@navWrapper]="this.sideNavControl.dataDrawer ? false : true">
          <a href="/" class="logo">
            <img src="assets/logos/angularMagic/logo-nav.png" width="150" height="40" title="Home" alt="Home">
          </a>

          <div class="content-wrapp" fxLayout="row" fxLayoutAlign="space-between center">
            <nav class="main-nav" mat-tab-nav-bar color="accent" backgroundColor="primary" fxFlex="70">
              <a  mat-tab-link
                  *ngFor="let link of navLinks"
                  [routerLink]="link.url"
                  routerLinkActive #rla="routerLinkActive"
                  [active]="rla.isActive"
                  class="nav-link">

                {{link.name}}
              </a>
            </nav>
          </div>
      </div>

      <mg-search class="search-container" #searchBox (onSearch)="doSearch($event)" (onFocus)="doSearch($event)"></mg-search>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
