<mat-drawer-container  autosize>
  <mat-drawer #drawer class="side-nav-tree" mode="side" opened>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding [matTreeNodePaddingIndent]="15">
            <button mat-button
                    [routerLink]="node.url"
                    [routerLinkActive]="['selected']"
                    [attr.aria-label]="'toggle ' + node.filename">
              {{node.filename | titlecase}}
            </button>
          </mat-tree-node>

          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [matTreeNodePaddingIndent]="15">

            <button mat-button
                    matTreeNodeToggle
                    fxLayout="row"
                    fxLayoutAlign="space-between center">

              {{upperCaseFirstLevel(node.level, node.filename) }}
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>

          </mat-tree-node>
        </mat-tree>
  </mat-drawer>

  <div class="sub-router-content">
    <ng-content></ng-content>
  </div>

</mat-drawer-container>
