:host(mg-side-nav-router) {

  .sub-router-content {
    min-height: 100vh;
    padding: 80px 2rem;
  }

  .side-nav-tree {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    padding: 0;
    min-width: 260px;
    background-color: white;
    box-shadow: 6px 0 6px rgba(0,0,0,.1);

    .mat-tree-node{
      min-height: 35px;
    }

    /deep/ .mat-button-wrapper{
        width: 100%;
        place-content: center space-between;
        align-items: center;
        display: flex;
    }

    button {
      width: 100%;
      display: flex;
      max-height: 100%;
      place-content: center space-between;
      align-items: center;
      padding: 0 11px;
      background-color: transparent;
      font-size: 14px;
      font-weight: 400;
      margin-left: 14px;
      transition: background-color .2s;

      &:hover{
        color: #1E88E5;
      }

      &.selected{
        color: #1E88E5;
      }
    }
  }
}
