//@import "../../../../../styles/main";
@import "../../../styles/main";
:host(mg-events) {
  .content{
    margin-top: 64px;
  }

  h3{
    margin: 0 50px 20px 20px;
    padding-top: 22px;
    font-weight: 400;
  }

  .events-card{
    margin: 0 50px 20px 20px;
    padding: 0;
    width: 80%;
  }
}
