<div class="content">
    <mg-page-header [title]="'EVENTS'"></mg-page-header>
    <h3>Where we'll be presenting:</h3>
    <table class="events-card mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="event">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EVENT </th>
        <td mat-cell *matCellDef="let element"> {{element.event}} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LOCATION </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'short'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
