<div fxLayout="column" fxLayoutAlign="start center" >
  <mg-app-header></mg-app-header>
  <section class="main-router-content">
    <ng-content></ng-content>
  </section>
  <mg-footer></mg-footer>
</div>
