@import "~@angular/material/theming";
@import "../styles/main";
@include mat-core();

$magic-palette-primary: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #2196f3,
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$magic-palette-accent: (
  50: #f3e5f5,
  100: #e1bee7,
  200: #ce93d8,
  300: #ba68c8,
  400: #ab47bc,
  500: #9c27b0,
  600: #8e24aa,
  700: #7b1fa2,
  800: #6a1b9a,
  900: #4a148c,
  A100: #ea80fc,
  A200: #e040fb,
  A400: #d500f9,
  A700: #aa00ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$magic-primary: mat-palette($magic-palette-primary, 700, 600, 800);
$magic-accent:  mat-palette($magic-palette-accent, A400, A200, A100);
$magic-warn:    mat-palette($mat-red);

$magic-theme: mat-light-theme(
	$magic-primary,
	$magic-accent,
	$magic-warn
);

$primary: map-get($magic-theme, primary);
$accent: map-get($magic-theme, accent);
$warn: map-get($magic-theme, warn);
$background: map-get($magic-theme, background);
$foreground: map-get($magic-theme, foreground);

@include angular-material-theme($magic-theme);

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;

  ng-component {
    display: block;
  }
}

* {
  box-sizing: border-box;
}

router-outlet ~ * {
  position: absolute;
  width: 100%;
  height: 100%;
  // display: contents;
}




h1 {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  margin: 8px 0;
}

h2 {
  font-size: 22px;
  font-weight: 500;
  margin: 32px 0 24px;
  clear: both;
}

p{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .3px;
  font-weight: 400;
}

ul{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .3px;
  font-weight: 400;

  li{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .3px;
    font-weight: 400;
  }
}

figure {
  border-radius: 4px;
  background: #fff;
  padding: 20px;
  display: inline-block;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
  margin: 0 0 14px;

  img {
    clear: both;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 4px;

    &.left{
      float: left;
    }

    &.right{
      float: right;
    }
  }
}

a {
  color: mat-color($primary);
}

.nav-link:visited {
  text-decoration: none;
}

table {
  box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
}

table > tbody > tr > th {
  border: 1px solid rgba(mat-color($foreground, secondary-text), .03);
}

td {
  color: mat-color($foreground, secondary-text);
  border: 1px solid rgba(mat-color($foreground, secondary-text), .03);
}

th {
  color: mat-color($foreground, secondary-text);
  background: rgba(mat-color($foreground, secondary-text), .03);
}


.mat-drawer-content {
  overflow: hidden !important;
}
