<header>

  <!-- BACKGROUND IMAGE -->
  <div class="background-sky hero"></div>

  <!-- INTRO SECTION -->
  <section id="intro">

    <!-- LOGO -->
    <div class="hero-logo">
      <img src="../../../../../assets/logos/angular/angular_whiteTransparent.svg"/>
    </div>

    <!-- CONTAINER -->
    <div class="homepage-container">
      <div class="hero-headline no-toc">One framework.<br>Mobile &amp; desktop.</div>
    </div>

  </section>

</header>
