@import "../../../../../styles/main";

:host(mg-page-header) {
  display: flex;
  background-color: $accentblue;
  padding: 16px;

  mat-toolbar{
    background-color: transparent;
    color: white;

    h1{
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 300;
      color: #fff;
      margin: 0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }
  }
}
